# Tạo Secret xác thực Harbor Registry bằng lệnh kubectl
# Thực hiện trên k8s-master-1 hoặc kubectl shell trong Rancher
#
# kubectl create secret docker-registry auth-registry \
#   --docker-email=yourmail@gmail.com \
#   --docker-username=username-harbor \
#   --docker-password=password-harbor \
#   --docker-server=domain-harbor.com \
#   --namespace ecommerce
